<div class="add-book">
    <div class="container card">
        <h3>Add a book</h3>
        <div class="alert alert-danger" ng-show="error">{{error}}</div> 
        <form name="addBookForm">
            <div class="row">
                <div class="form-group col-sm">
                    <label>* Name:</label>
                    <input class="form-control" type="text" ng-model="bookModel.name" required="required" >
                </div>
                <div class="form-group col-sm">
                    <label>* Image Url:</label>
                    <input class="form-control" type="url" ng-model="bookModel.imageUrl"  required="required" 
                            placeholder="http://example.com/image.jpg" >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm">
                    <label>Description:</label>
                    <textarea rows="5" class="form-control" ng-model="bookModel.description"></textarea>
                </div>
            </div>
            <div class="book-img" ng-show="bookModel.imageUrl">
                    <img ng-src="{{bookModel.imageUrl}}"/>
            </div>
            <button class=" btn btn-success" ng-click="addBook()" ng-disabled="addBookForm.$invalid">Add a book</button>
        </form>
    </div>
</div>